# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Leiningen artifacts
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.eastwood

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache

archive

# idea
*.iws
.idea/**/caches
.idea/**/code.iml
.idea/**/misc.xml
.idea/**/modules.xml
.idea/**/modules
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/dataSources
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/contentModel.xml
cmake-build-*/
